apiVersion: apps/v1
kind: Deployment
metadata:
  name: haproxy-egress
  namespace: {{ .Release.Namespace }}

spec:
  replicas: {{ .Values.replicaCount }}

  selector:
    matchLabels:
      app: haproxy-egress

  template:
    metadata:
      labels:
        app: haproxy-egress
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}

    spec:
      containers:
        - name: haproxy
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          args:
            - "-f"
            - "/usr/local/etc/haproxy/haproxy.cfg"
            - "-db"

          ports:
            - containerPort: {{ .Values.service.port }}

          volumeMounts:
            - name: config
              mountPath: /usr/local/etc/haproxy/haproxy.cfg
              subPath: haproxy.cfg

            - name: mtls
              mountPath: {{ .Values.mtls.certPath }}
              readOnly: true

          readinessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            tcpSocket:
              port: {{ .Values.service.port }}
            initialDelaySeconds: 10
            periodSeconds: 20

          resources:
{{ toYaml .Values.resources | indent 12 }}

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false

      volumes:
        - name: config
          configMap:
            name: haproxy-config

        - name: mtls
          secret:
            secretName: {{ .Values.mtls.secretName }}